body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #0a192f;
}

.game {
  display: flex;
  flex-direction: row;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
}

.buttonsPanel {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 15px;
  justify-content: center;
}

.colorBtn {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.colorBtn:hover {
  outline: none;
  border: 2px solid black;
}

.panelGeneral {
  color: #DEDEDE;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  font-size: 20px;
}

.turnsLab {
  text-transform: uppercase;
}

.turnsNum {
  margin-top: 5px;
  margin-bottom: 10px;
}

.capturedLab {
  text-transform: uppercase;
}

.capturedNum {
  margin-top: 5px;
  margin-bottom: 10px;
}

.playsLab {
  margin-bottom: 10px;
}

.playsStack {
  display: flex;
  flex-direction: column;
  width: 50px;
  max-height: 225px;
  overflow-y: auto;
}

.playBtn {
  margin: 5px;
  height: 20px;
  width: 20px;
  border: none;
  min-height: 20px;
}

.board {
  margin: 20px;
  margin-left: 40px;
  display: grid;
  border: 3px solid black;
  grid-template-columns: repeat(14, 40px);
  grid-template-rows: repeat(14, 40px);
}

.endGame {
  justify-content: center;
  display: flex;
  margin: 100px;
}

.endPanel {
  border: 2px solid #ccc;
  align-items: center;
  flex-direction: row;
  padding: 50px;
}

.playAgain {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  align-items: center; 
}

.titule {
  color: white;
  margin: auto;
  border: 1px solid #0a192f;
}

/* personalized scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}